body{
    height: 100%;
    background-image: url(assets/white2.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.screen{
    display: flex;
  align-items: center;
  justify-content: center;
}
.vertical-align-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
  }
  
  .vertical-align {
    background: white;
    display: table-cell;
  }
  .vertical-align--middle {
    vertical-align: middle;
  }
.containertest{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
a:link{
    text-decoration: none;
}
.cv{   

margin-left: auto;
    margin-right: auto;
    display: table;
    display: flex;
    border-radius: 2em;
    background-color: #222;
    box-shadow: 10px 10px 80px 5px rgba(0, 0, 0, 0.308);
}
.bordertest{

    border-radius: 2em;
}
.info{
    width: 50%;
    border-left:aliceblue ; 
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 2em;
    background-color: #444;

    border-right: hidden;
}

.img-info{
    margin-top: 16%;
    padding: 0.17rem;
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    height: auto;
    max-height: 130px;
    width: auto;
    max-width: 130px;
}

.icones{
    margin-top: 4%;
    display: inline-block;
    word-spacing: 10px;
}
.personal{
    margin-top: 8%;
    align-content: center;
}
.btns{
    margin-top: 14%;
    margin-left: auto;
    margin-right: auto;
    font-size: 10%;    
}
.btn-cv{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #555;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.475rem 0.75rem;
    font-size: 1rem;
    border: 1px solid #ffffff;
    border-radius: 50rem !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.356);

}
.btn-cv:hover{
    animation-name: btncv;
    animation-duration: 0.5s;
    background-color: white;
    color: #444;
    font-weight: 500;


}

@keyframes btncv{
    0%   {background-color: #444;}

    100%  {background-color: white;}
}
.copywrite{
    margin-top: 61%;
    margin-bottom: 2%;
    font-size: 80%;
}
.main{
    position: initial;
    background-color:#222;
    border-radius: 2em;
}












@media (min-aspect-ratio: 16/9){
    #videobg{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    #videobg{
        width: auto;
        height: 100%;
    }
}
@media (max-width: 767px){
    body {
        background: url(/portfolio-webpage/assets/white2.jpg);
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }


    
}

